<div class="row">
    <div class="col-lg-6">
        <h2>Conductores Vinculados</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Telefono</th>
                    <th>Telefono Celular</th>
                    <th>Direccion</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active" ng-repeat="driver in driver| orderBy: 'id'">
                    <td>{{driver.id_conductor}}</td>
                    <td>{{driver.fullName}}</td>
                    <td>{{driver.documentNumber}}</td>
                    <td>{{driver.homePhone}}</td>
                    <td>{{driver.mobilePhone}}</td>
                    <td>{{driver.address}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->