<div class="row">
    <div class="col-lg-6">
        <h2>Conductores Vinculados</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Telefono</th>
                    <th>Ver Mas</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active" ng-repeat="driver in driver| orderBy: 'id'">
                    <td>{{driver.id_conductor}}</td>
                    <td>{{driver.full_name}}</td>
                    <td>{{driver.document_number}}</td>
                    <td>{{driver.home_phone}}</td>
                    <td><a href="https://google.com">Ver Mas</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->