<div class="row">
    <div class="col-lg-6">
        <h2>Mobibuses</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Modelo</th>
                    <th>Fecha Compra</th>
                    <th>Estado</th>
                    <th>Tipo</th>
                    <th>ID Ultima Revision</th>
                    <th>Ver Mas</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active" ng-repeat="movibus in movi_bus_vehiculo| orderby: 'id'">
                    <td>{{movibus.id_vehiculo}}</td>
                    <td>{{movibus.modelo}}</td>
                    <td>{{movibus.fecha_compra}}</td>
                    <td>{{movibus.estado}}</td>
                    <td>{{movibus.tipo_vehiculo}}</td>
                    <td>{{movibus.id_revision}}</td>
                    <td><a href="https://google.com">Ver Mas</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->