<div class="row">
    <div class="col-lg-6">
        <h2>Historial de Trayectos</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Email</th>
                    <th>Ver Mas</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active" ng-repeat="user in user| orderby: 'id'">
                    <td>{{user.user_id}}</td>
                    <td>{{user.full_name}}</td>
                    <td>{{user.document}}</td>
                    <td>{{user.email}}</td>
                    <td><a href="https://google.com">Ver Mas</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->