<div class="row">
    <div class="col-lg-6">
        <h2>Historial de Trayectos</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Ruta</th>
                    <th>Conductor</th>
                    <th>Vehiculo</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Estado</th>
                    <th>Ver Mas</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active" ng-repeat="trayecto in trayecto| orderBy: 'id'">
                    <td>{{trayecto.id_trayecto}}</td>
                    <td>{{trayecto.ruta}}</td>
                    <td>{{trayecto.id_conductor}}</td>
                    <td>{{trayecto.idVehiculo}}</td>
                    <td>{{trayecto.hora_inicio}}</td>
                    <td>{{trayecto.hora_fin}}</td>
                    <td>{{trayecto.estado}}</td>
                    <td><a href="https://google.com">Ver Mas</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->