<div class="row">
    <div class="col-lg-6">
        <h2>Estaciones</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Estacion</th>
                    <th>Ubicacion</th>
                    <th>Capacidad VCubs</th>
                    <th>Ver Mas</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active" ng-repeat="estacion in estacion| orderBy: 'id'">
                    <td>{{estacion.idEstacion}}</td>
                    <td>{{estacion.nombreEstacion}}</td>
                    <td>{{estacion.ubicacion}}</td>
                    <td>{{estacion.vcubsCapacity}}</td>
                    <td><a href="https://google.com">Ver Mas</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->